.heading{
	background-color: bisque;
	font-size: 20px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: bold;
	text-align: center;
}
.radioc{
 padding-left: 13px;

}
.button{
	    margin-left: 28px;
    margin-top: 24px;
	text-align: center;
}